*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.conteiner{
    max-width: 1050px;
    margin: auto;
}
    
 
 nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
   
}
.all-btn{
    width: 130px;
    height: 40px;
    background:linear-gradient(to top,#FF136F,#FF589B);
    margin-top: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.search input{
    width: 400px;
    height: 30px;
    padding: 8px 30px;
    border-radius: 30px;
    background-color: #CCCCCC;
    border: none;
    color: #bababa;
    margin-top: 15px;
}
.search i{
    position:relative;
    right: 40px;
    top: 2px;
    color: #bababa ;
}
.title{
    display: flex;
    list-style: none;
    
   
}
.title li{
  margin: 10px;
   color: #707070;
}
.banner{
    background-color: #FEEAE9;
    width: 1212px;
    height: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 50px;
    border-radius: 30px;
}
.banner img{
    width: 400px;
    height: 380px;
}
.banner-left h1{
    font-size: 40px;
    font-weight: bold;
    color: #1F1F1F;
}
.banner-left p{
    color: #1F1F1F;
}
.banner-left span{
    font-size: 41px;
    font-weight: 500;
    color: #FF136F;
     
}
.name{
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
    margin: 50px  156px;
}
.Categories{
    display: flex;
    margin:0px  156px;
    gap: 15px;
}
.categori-watch{
    width: 350px;
    height: 120px;
    display: flex;
    background: linear-gradient(to right,#FF9C35,#FFD019);
    justify-content: space-between;
    align-items: center;
    padding:5px  60px;
    color: #FFFFFF;
    border-radius: 15px;
}
.categori-bag{
    width: 350px;
    height: 120px;
    display: flex;
    background: linear-gradient(to right,#FF136F,#FF589B);
    justify-content: space-between;
    align-items: center;
    padding:5px  60px;
    color: #FFFFFF;
    border-radius: 15px;

}
.categori-shoes{
    width: 350px;
    height: 120px;
    display: flex;
    background: linear-gradient(to right,#4289FF,#3F07F8);
    justify-content: space-between;
    align-items: center;
    padding:5px  60px;
    color: #FFFFFF;
    border-radius: 15px;
}